<div class="list-group" *ngFor="let booking of bookings">
    <a routerLink="/edit/{{booking.id}}" class="mb-2 list-group-item list-group-item-action" aria-current="true">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">{{booking.name}}</h5>
        <small>{{booking.id}}</small>
      </div>
      <p class="mb-1">{{booking.startDate | date: 'dd/MM/yy' }} - {{booking.endDate | date: 'dd/MM/yy'}}</p>
      <small>Room: {{booking.roomNumber}}</small>
    </a>
</div>