<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand">Hotel App</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLink="/bookings">Overview</a>
        </li>     
        <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLink="/create">Create</a>
        </li>     
        <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLink="/events">Events</a>
        </li>  
      </ul>      
    </div>
  </div>
</nav>

<div class="container pt-5">

  <div class="h-100 p-5 bg-dark text-white  rounded-3 text-center">
    <div class="display-4">{{title}}</div>
  </div>

  <hr>
  
  <router-outlet></router-outlet>

</div>