<div class="card">
    <div class="card-header">
        <h5>Create new Booking</h5>
    </div>

    <div class="card-body">
        <form>
            <div class="row mb-2">
                <div class="col">
                    <!--Id-->
                    <label class="form-label">Id</label>
                    <input type="number" [(ngModel)]="booking.id" name="Id" class="form-control" />
                </div>
        
                <div class="col"> 
                    <!--RoomNumber-->
                    <label class="form-label">Roomnumber</label>
                    <input type="number" [(ngModel)]="booking.roomNumber" name="Roomnumber"  class="form-control" />
                </div>
            </div>
        
            <div class="row mb-2">
                <div class="col-4">
                    <!--Name-->
                    <label class="form-label">Guest Name</label>
                    <input type="text" [(ngModel)]="booking.name" name="Name" class="form-control" />
                </div>
            </div>
        
            <div class="row">
                <div class="col">
                    <!--StartDate-->            
                    <label class="form-label">Start Date</label>
                    <input type="date" [value]="booking.startDate | date:'yyyy-MM-dd'" (input)="dateChanged($event, true)" class="form-control" />
                </div>
        
                <div class="col">
                    <!--EndDate-->
                    <label class="form-label">End Date</label>
                    <input type="date" [value]="booking.endDate | date:'yyyy-MM-dd'" (input)="dateChanged($event, false)" class="form-control" />
                </div>
            </div>
        
        </form>
    </div>

    <div class="card-footer">
        <button (click)="save()" class="btn btn-primary">Submit</button>
    </div>
</div>